$white-bg-color: #ffffff;
$gray-bg-color: #fafafa;
$accent-bg-color: #16697a;
$company-bg-color: #00a0c1;
$support-bg-color: #252b42;

$title-color-black: #252b42;
$title-color-white: #ffffff;

$main-text-color: #737373;
$secondary-text-color: #252b42;
$accent-text-color: #ffffff;

$button-color1: #ffa62b;
$button-color2: #00a0c1;
$button-color3: #ffffff;

$link-color1: #00a0c1;
$link-color2: #252b42;
$link-color3: #ffffff;

$icon-main-color: #00a0c1;
$icon-accent-color: #ffa62b;
