<header class="header">
  <div class="header__container container">
    <div class="header__wrap">
      <nav class="header__nav">
        <div class="header__wrapper">
          <a class="header__logo" href=""
            ><svg class="choose__icon" width="150px" height="50px">
              <use href="./images/sprites.svg#serba-logo"></use></svg
          ></a>
        </div>
        <ul class="header__list">
          <li class="header__item header__item--pseudo">
            <a class="header__link header__link--active" href="##">Home</a>
          </li>
          <li class="header__item header__item--pseudo">
            <a class="header__link header__link--active" href="##">Product</a>
          </li>
          <li class="header__item header__item--pseudo">
            <a class="header__link header__link--active" href="##">Pricing</a>
          </li>
          <li class="header__item header__item--pseudo">
            <a class="header__link header__link--active" href="##">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main>
  <section class="hero">
    <div class="hero__container container">
      <h1 class="hero__title">EMPOWER YOUR BUSINESS</h1>
      <p class="hero__subtitle">
        We know how large objects will act, but things on a small scale.
      </p>
      <div class="hero__wrapper">
        <button class="hero__button-left">Get Quote Now</button>
        <button class="hero__button-right">Learn More</button>
      </div>
    </div>
  </section>
  <section class="company">
    <div class="company__container container">
      <h2 class="company__hidden hidden"></h2>
      <div class="company__wrapper">
        <a class="company__link company__link--active" href="##">
          <div class="company__wrap company__wrap--pseudo">
            <svg class="company__icon" width="50px" height="50px">
              <use href="./images/sprites.svg#icon-company-1"></use>
            </svg>
            <h3 class="company__title">Digital Marketing</h3>
            <p class="company__subtitle">
              We focus on ergonomics and meeting you where you work.
            </p>
          </div>
        </a>
        <a class="company__link company__link--active" href="##">
          <div class="company__wrap company__wrap--pseudo">
            <svg class="company__icon" width="50px" height="50px">
              <use href="./images/sprites.svg#icon-company-2"></use>
            </svg>
            <h3 class="company__title">National top 50 firms</h3>
            <p class="company__subtitle">
              Just type what's on your mind and we'll get you there.
            </p>
          </div>
        </a>
        <a class="company__link company__link--active" href="##">
          <div class="company__wrap company__wrap--pseudo">
            <svg class="company__icon" width="50px" height="50px">
              <use href="./images/sprites.svg#icon-company-3"></use>
            </svg>
            <h3 class="company__title">Digital Marketing</h3>
            <p class="company__subtitle">
              the quick fox jumps over the lazy dog
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="choose">
    <div class="choose__container container">
      <h2 class="choose__title">WHY CHOOSE US</h2>
      <p class="choose__subtitle">
        Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics
      </p>
      <ul class="choose__list">
        <li class="choose__item choose__item--pseudo">
          <svg class="choose__icon" width="50px" height="50px">
            <use href="./images/sprites.svg#icon-choose-1"></use>
          </svg>
          <h3 class="choose__desc">3K</h3>
          <p class="choose__slogan">CASES DONE</p>
        </li>
        <li class="choose__item choose__item--pseudo">
          <svg class="choose__icon" width="50px" height="50px">
            <use href="./images/sprites.svg#icon-choose-2"></use>
          </svg>
          <h3 class="choose__desc">45</h3>
          <p class="choose__slogan">HAPPY CUSTOMERS</p>
        </li>
        <li class="choose__item choose__item--pseudo">
          <svg class="choose__icon" width="50px" height="50px">
            <use href="./images/sprites.svg#icon-choose-3"></use>
          </svg>
          <h3 class="choose__desc">12+</h3>
          <p class="choose__slogan">AWARD WINNING</p>
        </li>
        <li class="choose__item choose__item--pseudo">
          <svg class="choose__icon" width="50px" height="50px">
            <use href="./images/sprites.svg#icon-choose-4"></use>
          </svg>
          <h3 class="choose__desc">1.5K</h3>
          <p class="choose__slogan">CASES DONE</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="practice">
    <div class="practice__container container">
      <h2 class="practice__title">Practice Advice</h2>
      <p class="practice__subtitle">
        Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics
      </p>
      <ul class="practice__list">
        <li class="practice__item practice__item--pseudo">
          <div class="practice__wrap">
            <h3 class="practice__quote">A single source of truth</h3>
            <p class="practice__slogan">
              Newton thought that light was made up of particles, but then it
              was discovered
            </p>
          </div>
          <img
            class="practice__image"
            src="./images/practice-1.png"
            alt="workplace"
            width="230"
            height="140"
          />
        </li>
        <li class="practice__item practice__item--pseudo">
          <div class="practice__wrap">
            <h3 class="practice__quote">Fastest way to organize</h3>
            <p class="practice__slogan">
              “Quantum mechanics” is the description of the behaviour of matter
            </p>
          </div>
          <img
            class="practice__image"
            src="./images/practice-2.png"
            alt="workplace"
            width="230"
            height="140"
          />
        </li>
        <li class="practice__item practice__item--pseudo">
          <div class="practice__wrap">
            <h3 class="practice__quote">Fastest way to take action</h3>
            <p class="practice__slogan">
              They describe a universe consisting of bodies moving
            </p>
          </div>
          <img
            class="practice__image"
            src="./images/practice-3.png"
            alt="workplace"
            width="230"
            height="140"
          />
        </li>
        <li class="practice__item practice__item--pseudo">
          <div class="practice__wrap">
            <h3 class="practice__quote">Work better together</h3>
            <p class="practice__slogan">
              They finally obtained a consistent description of the behaviour
            </p>
          </div>
          <img
            class="practice__image"
            src="./images/practice-4.png"
            alt="workplace"
            width="230"
            height="140"
          />
        </li>
      </ul>
    </div>
  </section>
  <section class="service">
    <div class="service__container container">
      <h2 class="service__title">We are providing best business service.</h2>
      <p class="service__subtitle">
        Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics
      </p>
      <div class="service__wrap">
        <div class="service__left">
          <iframe
            class="service__video"
            width="600"
            height="440"
            src="https://www.youtube.com/embed/0mh5d2a8wp0"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="service__right">
          <h3 class="service__right-title">Most trusted in our field</h3>
          <p class="service__right-subtitle">
            Most calendars are designed for teams. Slate is designed for
            freelancers who want a simple way to plan their schedule.
          </p>
          <ul class="service__right-list">
            <li class="service__right-item service__right-item--pseudo">
              <div class="service__right-wrapper">
                <svg class="service__icon" width="30px" height="30px">
                  <use href="./images/sprites.svg#icon-servise-1"></use>
                </svg>
                <h4 class="service__right-slogan">
                  the quick fox jumps over the lazy dog
                </h4>
              </div>
              <p class="service__right-quote">
                Things on a very small scale ...
              </p>
            </li>
            <li class="service__right-item service__right-item--pseudo">
              <div class="service__right-wrapper">
                <svg class="service__icon" width="30px" height="30px">
                  <use href="./images/sprites.svg#icon-servise-2"></use>
                </svg>
                <h4 class="service__right-slogan">
                  the quick fox jumps over the lazy dog
                </h4>
              </div>
              <p class="service__right-quote">
                Things on a very small scale ...
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="partners">
    <h2 class="partners__hidden hidden"></h2>
    <div class="partners__container container">
      <ul class="partners__list">
        <li class="partners__item partners__item--pseudo">
          <svg class="partners__icon" width="100px" height="60px">
            <use href="./images/sprites.svg#icon-partners-1"></use>
          </svg>
        </li>
        <li class="partners__item partners__item--pseudo">
          <svg class="partners__icon" width="100px" height="60px">
            <use href="./images/sprites.svg#icon-partners-2"></use>
          </svg>
        </li>
        <li class="partners__item partners__item--pseudo">
          <svg class="partners__icon" width="100px" height="60px">
            <use href="./images/sprites.svg#icon-partners-3"></use>
          </svg>
        </li>
        <li class="partners__item partners__item--pseudo">
          <svg class="partners__icon" width="100px" height="60px">
            <use href="./images/sprites.svg#icon-partners-4"></use>
          </svg>
        </li>
        <li class="partners__item partners__item--pseudo">
          <svg class="partners__icon" width="100px" height="60px">
            <use href="./images/sprites.svg#icon-partners-5"></use>
          </svg>
        </li>
        <li class="partners__item partners__item--pseudo">
          <svg class="partners__icon" width="100px" height="60px">
            <use href="./images/sprites.svg#icon-partners-6"></use>
          </svg>
        </li>
      </ul>
    </div>
  </section>
  <section class="newsletter">
    <div class="newsletter__container container">
      <h2 class="newsletter__hidden hidden"></h2>
      <div class="newsletter__wrap">
        <h3 class="newsletter__title">Subscribe For Latest Newsletter</h3>
        <input class="newsletter__input" type="text" />
        <button class="newsletter__button" type="submit">Subscribe</button>
      </div>
    </div>
  </section>
  <section class="support">
    <div class="support__container container">
      <h2 class="support__title">Get In Touch</h2>
      <p class="support__subtitle">
        Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics
      </p>
      <ul class="support__list">
        <li class="support__item">
          <svg class="support__icon" width="75px" height="75px">
            <use href="./images/sprites.svg#icon-support-1"></use>
          </svg>
          <a class="support__link" href="">georgia.young@example.com</a>
          <a class="support__link" href="">georgia.young@ple.com</a>
          <h3 class="support__caption">Get Support</h3>
          <button class="support__button" type="submit">Submit Request</button>
        </li>
        <li class="support__item-center">
          <svg class="support__icon" width="75px" height="75px">
            <use href="./images/sprites.svg#icon-support-2"></use>
          </svg>
          <a class="support__link-center" href="">georgia.young@example.com</a>
          <a class="support__link-center" href="">georgia.young@ple.com</a>
          <h3 class="support__caption-center">Get Support</h3>
          <button class="support__button-center" type="submit">
            Submit Request
          </button>
        </li>
        <li class="support__item">
          <svg class="support__icon" width="75px" height="75px">
            <use href="./images/sprites.svg#icon-support-3"></use>
          </svg>
          <a class="support__link" href="">georgia.young@example.com</a>
          <a class="support__link" href="">georgia.young@ple.com</a>
          <h3 class="support__caption">Get Support</h3>
          <button class="support__button" type="submit">Submit Request</button>
        </li>
      </ul>
    </div>
  </section>
  <section class="consulting">
    <div class="consulting__container container">
      <div class="consulting__wrap">
        <h3 class="consulting__title">Consulting Agency For Your Business</h3>
        <p class="consulting__subtitle">
          the quick fox jumps over the lazy dog
        </p>
      </div>
      <button class="consulting__button">Contact Us</button>
    </div>
  </section>
  <section class="address">
    <div class="address__container container">
      <h2 class="address__hidden hidden"></h2>
      <div class="address__wrap">
        <ul class="address__list address__list--pseudo">
          <li class="address__item">
            <h3 class="address__caption">Company Info</h3>
          </li>
          <li class="address__item">
            <p class="address__text">About Us</p>
          </li>
          <li class="address__item">
            <p class="address__text">Carrier</p>
          </li>
          <li class="address__item">
            <p class="address__text">We are hiring</p>
          </li>
          <li class="address__item">
            <p class="address__text">Blog</p>
          </li>
        </ul>
        <ul class="address__list address__list--pseudo">
          <li class="address__item">
            <h3 class="address__caption">Legal</h3>
          </li>
          <li class="address__item">
            <p class="address__text">About Us</p>
          </li>
          <li class="address__item">
            <p class="address__text">Carrier</p>
          </li>
          <li class="address__item">
            <p class="address__text">We are hiring</p>
          </li>
          <li class="address__item">
            <p class="address__text">Blog</p>
          </li>
        </ul>
        <ul class="address__list address__list--pseudo">
          <li class="address__item">
            <h3 class="address__caption">Features</h3>
          </li>
          <li class="address__item">
            <p class="address__text">Business Marketing</p>
          </li>
          <li class="address__item">
            <p class="address__text">User Analytic</p>
          </li>
          <li class="address__item">
            <p class="address__text">Live Chat</p>
          </li>
          <li class="address__item">
            <p class="address__text">Unlimited Support</p>
          </li>
        </ul>
        <ul class="address__list address__list--pseudo">
          <li class="address__item">
            <h3 class="address__caption">Resources</h3>
          </li>
          <li class="address__item">
            <p class="address__text">IOS & Android</p>
          </li>
          <li class="address__item">
            <p class="address__text">Watch a Demo</p>
          </li>
          <li class="address__item">
            <p class="address__text">Customers</p>
          </li>
          <li class="address__item">
            <p class="address__text">API</p>
          </li>
        </ul>
        <address class="address__wrapper">
          <ul class="address__list address__list--pseudo">
            <li class="address__item">
              <h3 class="address__caption">Get In Touch</h3>
            </li>
            <li class="address__item-link">
              <svg class="address__icon" width="25px" height="25px">
                <use href="./images/sprites.svg#icon-address-1"></use>
              </svg>
              <a class="address__link" href="">(480) 555-0103</a>
            </li>
            <li class="address__item-link">
              <svg class="address__icon" width="25px" height="25px">
                <use href="./images/sprites.svg#icon-address-2"></use>
              </svg>
              <a class="address__link" href="">4517 Washington Ave.</a>
            </li>
            <li class="address__item-link">
              <svg class="address__icon" width="25px" height="25px">
                <use href="./images/sprites.svg#icon-address-3"></use>
              </svg>
              <a class="address__link" href="">debra.holt@example.com</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="footer__container container">
    <h2 class="footer__hidden hidden"></h2>
    <a class="footer__copyright" href="https://github.com/ViktorSvertoka"
      >Made With Love By Viktor Svertoka All Right Reserved
    </a>
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="##"
          ><svg class="footer__icon" width="25px" height="25px">
            <use href="./images/sprites.svg#icon-footer-1"></use></svg
        ></a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="##"
          ><svg class="footer__icon" width="25px" height="25px">
            <use href="./images/sprites.svg#icon-footer-2"></use></svg
        ></a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="##"
          ><svg class="footer__icon" width="25px" height="25px">
            <use href="./images/sprites.svg#icon-footer-3"></use></svg
        ></a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="##"
          ><svg class="footer__icon" width="25px" height="25px">
            <use href="./images/sprites.svg#icon-footer-4"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</footer>
